<div id="<%= dom_id value %>">
  <p>
    <strong>User:</strong>
    <%= value.user_id %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= value.image_id %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= value.value %>
  </p>

</div>
