%body
  %header
    %ul
      %li
        %a{:href => "/main/index"} Main
      %li
        %a{:href => "/main/contacts"} Contacts
      %li
        %a{:href => "/main/help"} Help
      %li
        %a{:href => "/main/about"} About
      %li
        %a{:href => "http://rubyonrails.org"} Ruby on Rails Website
