.image
  .row
    .col-md-3

.left_controls
  .select_theme
  = render 'work/button_theme_select' #, locale: @current_locale

.col-md-9
  .image_display
    .row.image
      .col-md-12
        %h2.up-theme{:title => "theme_name"} #{@selected_theme}

      .col-md-12
        %h2.up{:title => "Image file name"} #{@selected_image_name}

      .col-md-1
        .img-left-side
          %h3{:title => "list to previous image"}
            %i.fa.fa-chevron-circle-left.strong
      .col-md-10
        .img-center{:title => "Default image"}
          %img{:alt => "Default Image", :src => asset_path(@default_image_name), :title => "Default image", :style => "width:100%; height:100%;" }
        .image_user_value{:title => "Expert value"}


      .col-md-1
        .img-right-side
          %h3{:title => "list to next image", :onclick => "nextImage(); return false"}
            %i.fa.fa-chevron-circle-right
